/*About Page*/

/*image*/

.me {
    background-color: salmon;
}

.image {
    padding: .5px;
    float: left;
    background-color: pink;
}

/*Media Query*/

@media screen and (max-width: 960px) {
    body {
        background-color: orange;
    }
    /*add */
}

@media screen and (max-width: 768px) {
    body {
        background-color: salmon;
    }
}

@media screen and (max-width: 480px) {
   

   }