/*index page*/

/*image index page*/


.wrapper {
    padding: 10px;
    margin: auto;
    width: 50%;
}

img {
    border: 1px solid black;
    max-width: 100%;
    max-height: 100%;
}

