/*Main.css is the layout page for all three pages*/*/


* {
    margin: 0;
}

body {
    background-color: #fff;
}





/*nav bar*/

nav {
    float: right;
    padding: 25px;
}

.navbar ul a {
    list-style-type: none;
    text-decoration: none;
}


.navbar ul li {
    display: inline;
    text-align: right;
}

.navbar ul li a {
    padding: 0;
    margin: 0;
}





/*title */

h1 {
    float: left;
    padding: 15px;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
}





/*footer*/

footer {
    padding: 30px;
    text-align: center;
}




/*Media Query*/

/*@media screen and (max-width: 960px) {

    .bottom {
        font-size: 25px;
    }
}

@media screen and (max-width: 768px) {
    .bottom {
        font-size: 16px;
    }
}*/

/*@media screen and (max-width: 480px) {

    .navbar ul li {
        display: inline;
        text-align: center;
    }


    h1 {
        position: static;
        font-size: 20px;
    }

    .bottom {
        font-size: 12px;
    }
}

.navbar ul li a {
    position: static;
    padding: 100px;
    margin: 100px;
}