/*Main.css is the layout page for all three pages*/

*/ * {
    margin: 0;
}

body {
    background-color: #fff;
}






/*nav bar*/

nav {
    float: right;
    padding: 25px;
}

.navbar ul a {
    list-style-type: none;
    text-decoration: none;
}


.navbar ul li {
    display: inline;
    text-align: right;
}

.navbar ul li a {
    padding: 0;
    margin: 0;
}






/*title */

h1 {
    float: left;
    padding: 15px;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
}






/*footer*/

.bottom {
    padding: 30px;
    text-align: center;
}





/*Media Query*/

@media screen and (max-width: 960px) {

 header, .navbar, #line, .wrapper, .bottom {
    display:grid;
    grid-template-columns: repeat(2 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
     
} 
}

@media screen and (max-width: 768px) {
 header, .navbar, #line, .wrapper, .bottom {
    display:grid;
    grid-template-columns: repeat(2 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
     
}

h1 {
    text-align: center;
}

nav {
    text-align: center;
}

}

@media screen and (max-width: 480px) {
 
 header, .navbar, #line, .wrapper, .bottom {
    display:grid;
    grid-template-columns: repeat(2 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
     
} 
header, .navbar, #line, .wrapper, .bottom {
    text-align: center;
        margin: 20px 0;
        padding:10px;
}

}